{% extends "survey/base.html" %}{% load i18n %}

{% block content %}
<div id="center-content">
    <div class="corner">
        <!-- -->
    </div>
    <h1 class="survey-title">{{ title }}</h1>
    
<form method="post" class="focus-input" action="">
    {% for question_form in survey.forms %}
        {{ question_form.as_template }}
    {% endfor %}
    <div class="submit-row"><input class="survey-button" type="submit" value="{% trans 'Submit' %}" class="default" name="__vote" /></div>
</form>
</div>
{% endblock %}
